{% extends 'admin_base.html' %}
{% block content %}


    <div class="col-xl-4 col-lg-5 ">
        <div class="card">
        
          <div>
            <div class="customer-message align-items-center">
              <a class="font-weight-bold" href="#">
                <div class="text-truncate message-title">My order hasn't arrived yet</div>
                <div class="small text-gray-500 message-time font-weight-bold">saleejasalimoluzz · 58m</div>
              </a>
            </div>
            <div class="customer-message align-items-center">
              <a href="#">
                <div class="text-truncate message-title">Please cancel my order
                </div>
                <div class="small text-gray-500 message-time">saleejasalimoluzz · 58m</div>
              </a>
            </div>
            
            
            <div class="card-footer text-center">
              <a class="m-0 small text-primary card-link" href="#">View More <i
                  class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}