<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Reported Successfully</title>
</head>
<body>
    <h1>Issue Reported Successfully</h1>
    <p>Thank you for reporting the issue. We will look into it as soon as possible.</p>
    <a href="{% url 'index' %}" class="text-decoration-none">Go to home</a>
    <a href="{% url 'my_orders' %}" class="text-decoration-none">Go to Orders</a>
    

    <!-- You can add additional content or styling here as needed -->
</body>
</html>
